USE [master]
GO
/****** Object:  Database [TiendaTPV]    Script Date: 14/02/2017 8:50:35 ******/
CREATE DATABASE [TiendaTPV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TiendaTPV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\TiendaTPV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TiendaTPV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\TiendaTPV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TiendaTPV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TiendaTPV]
GO
USE [TiendaTPV]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 14/02/2017 8:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 14/02/2017 8:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[CategoriaID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categorias] PRIMARY KEY CLUSTERED 
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LineaVentas]    Script Date: 14/02/2017 8:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineaVentas](
	[ProductoID] [int] NOT NULL,
	[VentaID] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precioTotal] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LineaVentas] PRIMARY KEY CLUSTERED 
(
	[ProductoID] ASC,
	[VentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Productoes]    Script Date: 14/02/2017 8:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productoes](
	[ProductoID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](max) NULL,
	[descuento] [int] NOT NULL,
	[precio] [float] NOT NULL,
	[imagen] [nvarchar](max) NULL,
	[Categoria_CategoriaID] [int] NULL,
 CONSTRAINT [PK_dbo.Productoes] PRIMARY KEY CLUSTERED 
(
	[ProductoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 14/02/2017 8:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[admin] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Usuarios] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 14/02/2017 8:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[VentaID] [int] IDENTITY(1,1) NOT NULL,
	[Usuario_UsuarioID] [int] NULL,
 CONSTRAINT [PK_dbo.Ventas] PRIMARY KEY CLUSTERED 
(
	[VentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([CategoriaID], [nombre]) VALUES (1, N'Zumos')
INSERT [dbo].[Categorias] ([CategoriaID], [nombre]) VALUES (2, N'Refrescos')
INSERT [dbo].[Categorias] ([CategoriaID], [nombre]) VALUES (3, N'Bebidas con Alcohol')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
SET IDENTITY_INSERT [dbo].[Productoes] ON 

INSERT [dbo].[Productoes] ([ProductoID], [nombre], [descuento], [precio], [imagen], [Categoria_CategoriaID]) VALUES (6, N'Agua', 0, 2, N'agua.jpg', 5)
INSERT [dbo].[Productoes] ([ProductoID], [nombre], [descuento], [precio], [imagen], [Categoria_CategoriaID]) VALUES (7, N'Bifrutas Tropical', 5, 3, N'bifrutas-tropical.jpg', 1)
INSERT [dbo].[Productoes] ([ProductoID], [nombre], [descuento], [precio], [imagen], [Categoria_CategoriaID]) VALUES (8, N'Café con Leche', 5, 5, N'cafe-leche.jpg', 4)
SET IDENTITY_INSERT [dbo].[Productoes] OFF
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([UsuarioID], [nombre], [password], [admin]) VALUES (1, N'admin1', N'abc123.', 1)
INSERT [dbo].[Usuarios] ([UsuarioID], [nombre], [password], [admin]) VALUES (2, N'User1', N'user1', 0)
INSERT [dbo].[Usuarios] ([UsuarioID], [nombre], [password], [admin]) VALUES (3, N'User2', N'user2', 0)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
/****** Object:  Index [IX_ProductoID]    Script Date: 14/02/2017 8:50:35 ******/
CREATE NONCLUSTERED INDEX [IX_ProductoID] ON [dbo].[LineaVentas]
(
	[ProductoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_VentaID]    Script Date: 14/02/2017 8:50:35 ******/
CREATE NONCLUSTERED INDEX [IX_VentaID] ON [dbo].[LineaVentas]
(
	[VentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Categoria_CategoriaID]    Script Date: 14/02/2017 8:50:35 ******/
CREATE NONCLUSTERED INDEX [IX_Categoria_CategoriaID] ON [dbo].[Productoes]
(
	[Categoria_CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Usuario_UsuarioID]    Script Date: 14/02/2017 8:50:35 ******/
CREATE NONCLUSTERED INDEX [IX_Usuario_UsuarioID] ON [dbo].[Ventas]
(
	[Usuario_UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LineaVentas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LineaVentas_dbo.Productoes_ProductoID] FOREIGN KEY([ProductoID])
REFERENCES [dbo].[Productoes] ([ProductoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LineaVentas] CHECK CONSTRAINT [FK_dbo.LineaVentas_dbo.Productoes_ProductoID]
GO
ALTER TABLE [dbo].[LineaVentas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LineaVentas_dbo.Ventas_VentaID] FOREIGN KEY([VentaID])
REFERENCES [dbo].[Ventas] ([VentaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LineaVentas] CHECK CONSTRAINT [FK_dbo.LineaVentas_dbo.Ventas_VentaID]
GO
ALTER TABLE [dbo].[Productoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Productoes_dbo.Categorias_Categoria_CategoriaID] FOREIGN KEY([Categoria_CategoriaID])
REFERENCES [dbo].[Categorias] ([CategoriaID])
GO
ALTER TABLE [dbo].[Productoes] CHECK CONSTRAINT [FK_dbo.Productoes_dbo.Categorias_Categoria_CategoriaID]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ventas_dbo.Usuarios_Usuario_UsuarioID] FOREIGN KEY([Usuario_UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_dbo.Ventas_dbo.Usuarios_Usuario_UsuarioID]
GO
USE [master]
GO
